@page "/account_sample"

<div class="column-layout account-sample-container">
    <div class="column-layout group">
        <div class="row-layout account-header">
            <div class="row-layout page-title">
                <div class="row-layout group_1">
                    <img src="assets/Accounts%20Icon%20-%20Green.svg" class="image" />
                </div>
                <div class="column-layout group_2">
                    <h6 class="content">
                        Around the Horn
                    </h6>
                    <p class="typography__body-2 text">
                        Brewing Company
                    </p>
                </div>
            </div>
            <div class="row-layout group_3">
                <div class="column-layout group_4">
                    <p class="typography__subtitle-2 content">
                        Primary Contact
                    </p>
                    <p class="typography__caption text">
                        Thomas Hardy
                    </p>
                    <p class="typography__caption text">
                        Sales Representative
                    </p>
                </div>
                <div class="column-layout group_4">
                    <p class="typography__subtitle-2 content">
                        Phone
                    </p>
                    <p class="typography__caption text">
                        (123) 456-7890
                    </p>
                </div>
                <div class="column-layout group_4">
                    <p class="typography__subtitle-2 content">
                        Billing Address
                    </p>
                    <p class="typography__caption text">
                        120 Hanover Sq.
                    </p>
                    <div class="column-layout group_5">
                        <p class="typography__caption text">
                            London,  WA1 1DP
                        </p>
                        <p class="typography__caption text">
                            UK
                        </p>
                    </div>
                </div>
                <div class="column-layout group_4">
                    <p class="typography__subtitle-2 content">
                        Website
                    </p>
                    <p class="typography__caption text_1">
                        www.aroundthehorn.com
                    </p>
                </div>
                <div class="column-layout group_6">
                    <p class="typography__subtitle-2 content">
                        Account Owner
                    </p>
                    <p class="typography__caption text">
                        Sandy Anderson
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row-layout group_7">
        <div class="column-layout group_8">
            <IgbTabs class="tabs" account_sample-scope>
                <IgbTabPanel class="column-layout tab-item-content" account_sample-scope>
                    <div class="row-layout buttons-1">
                        <IgbButton Variant="ButtonVariant.Flat" DisplayType="ButtonBaseType.Button" class="button" account_sample-scope>
                            <span class="material-icons icon">
                                person_add
                            </span>
                            <span>Contact</span>
                            <IgbRipple></IgbRipple>
                        </IgbButton>
                        <IgbButton Variant="ButtonVariant.Flat" DisplayType="ButtonBaseType.Button" class="button" account_sample-scope>
                            <span class="material-icons icon">
                                star_border
                            </span>
                            <span>New Opportunity</span>
                            <IgbRipple></IgbRipple>
                        </IgbButton>
                        <IgbButton Variant="ButtonVariant.Flat" DisplayType="ButtonBaseType.Button" class="button" account_sample-scope>
                            <span class="material-icons icon">
                                error_outline
                            </span>
                            <span>New Case</span>
                            <IgbRipple></IgbRipple>
                        </IgbButton>
                        <IgbButton Variant="ButtonVariant.Flat" DisplayType="ButtonBaseType.Button" class="button" account_sample-scope>
                            <span class="material-icons icon">
                                note_add
                            </span>
                            <span>Add note</span>
                            <IgbRipple></IgbRipple>
                        </IgbButton>
                        <IgbButton Variant="ButtonVariant.Flat" DisplayType="ButtonBaseType.Button" class="button" account_sample-scope>
                            <span class="material-icons icon">
                                file_copy
                            </span>
                            <span>Add files</span>
                            <IgbRipple></IgbRipple>
                        </IgbButton>
                    </div>
                    <IgbAccordion SingleExpand="true" class="accordion" account_sample-scope>
                        <IgbExpansionPanel IndicatorPosition="ExpansionPanelIndicatorPosition.End">
                            <div class="column-layout group_9">
                                <div class="row-layout group_10">
                                    <IgbAvatar Initials="JL" Shape="AvatarShape.Circle" class="avatar" account_sample-scope></IgbAvatar>
                                    <a class="typography__body-2 hyperlink">
                                        Janine Labrune
                                    </a>
                                </div>
                                <div class="column-layout group_11">
                                    <div class="row-layout group_12">
                                        <p class="typography__subtitle-2 text_2">
                                            Account Name:
                                        </p>
                                        <p class="typography__body-2 text">
                                            Thomas Hardy
                                        </p>
                                    </div>
                                    <div class="row-layout group_12">
                                        <p class="typography__subtitle-2 text_2">
                                            Title:
                                        </p>
                                        <p class="typography__body-2 text">
                                            Owner
                                        </p>
                                    </div>
                                    <div class="row-layout group_13">
                                        <p class="typography__subtitle-2 text_2">
                                            Direct:
                                        </p>
                                        <IgbCheckbox class="checkbox" account_sample-scope></IgbCheckbox>
                                    </div>
                                </div>
                            </div>
                            <span slot="title">Related Contacts (1)</span>
                        </IgbExpansionPanel>
                        <IgbExpansionPanel IndicatorPosition="ExpansionPanelIndicatorPosition.End">
                            <div class="column-layout group_9">
                                <div class="row-layout group_10">
                                    <IgbAvatar Src="assets/Account-List-Avatar-Icon.svg" Shape="AvatarShape.Rounded" class="avatar_2" account_sample-scope></IgbAvatar>
                                    <a class="typography__body-2 hyperlink">
                                        Around The Horn
                                    </a>
                                </div>
                                <div class="column-layout group_11">
                                    <div class="row-layout group_12">
                                        <p class="typography__subtitle-2 text_2">
                                            Stage:
                                        </p>
                                        <p class="typography__body-2 text">
                                            Qualification
                                        </p>
                                    </div>
                                    <div class="row-layout group_12">
                                        <p class="typography__subtitle-2 text_2">
                                            Amount:
                                        </p>
                                        <p class="typography__body-2 text">
                                            Owner
                                        </p>
                                    </div>
                                    <div class="row-layout group_12">
                                        <p class="typography__subtitle-2 text_2">
                                            Close Date:
                                        </p>
                                        <p class="typography__body-2 text">
                                            9/12/2022
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <span slot="title">Opportunities (1)</span>
                        </IgbExpansionPanel>
                        <IgbExpansionPanel IndicatorPosition="ExpansionPanelIndicatorPosition.End">
                            <IgbList class="list" account_sample-scope>
                                <IgbListItem>
                                    <IgbAvatar slot="start" Shape="AvatarShape.Circle" class="avatar_1 avatar_1_1" account_sample-scope>
                                        <span class="material-icons icon_1">
                                            insert_drive_file
                                        </span>
                                    </IgbAvatar>
                                    <div>
                                        <a class="typography__body-2 hyperlink_1">
                                            Around-The-Horn-Contract-2022.docx
                                        </a>
                                    </div>
                                </IgbListItem>
                                <IgbListItem>
                                    <IgbAvatar slot="start" Shape="AvatarShape.Circle" class="avatar_1 avatar_1_2" account_sample-scope>
                                        <span class="material-icons icon_1">
                                            insert_drive_file
                                        </span>
                                    </IgbAvatar>
                                    <div>
                                        <a class="typography__body-2 hyperlink_1">
                                            Around-The-Horn-Contract-2021.docx
                                        </a>
                                    </div>
                                </IgbListItem>
                            </IgbList>
                            <span slot="title">Contracts (2)</span>
                        </IgbExpansionPanel>
                        <IgbExpansionPanel IndicatorPosition="ExpansionPanelIndicatorPosition.End">
                            <p class="typography__body-2 text_3">
                                No cases filed.
                            </p>
                            <span slot="title">Cases (0)</span>
                        </IgbExpansionPanel>
                        <IgbExpansionPanel IndicatorPosition="ExpansionPanelIndicatorPosition.End">
                            <p class="typography__body-2 text_3">
                                No notes added.
                            </p>
                            <span slot="title">Notes (0)</span>
                        </IgbExpansionPanel>
                        <IgbExpansionPanel IndicatorPosition="ExpansionPanelIndicatorPosition.End">
                            <p class="typography__body-2 text_3">
                                No files uploaded
                            </p>
                            <span slot="title">Files (0)</span>
                        </IgbExpansionPanel>
                    </IgbAccordion>
                </IgbTabPanel>
                <IgbTab Selected="true">
                    <span class="material-icons">
                        info
                    </span>
                    <span>Related</span>
                </IgbTab>
                <IgbTabPanel class="row-layout tab-item-content_1" account_sample-scope>
                    <div class="row-layout demo-content">
                        <img src="assets/start-building-dark.svg" class="image_1" />
                        <p class="typography__body-2 text_4">
                            Remove the "demo-content" container, and add your own content.
                        </p>
                    </div>
                </IgbTabPanel>
                <IgbTab Disabled="true">
                    <span class="material-icons">
                        info
                    </span>
                    <span>Details</span>
                </IgbTab>
                <IgbTabPanel class="row-layout tab-item-content_1" account_sample-scope>
                    <div class="row-layout demo-content-1">
                        <img src="assets/start-building-dark.svg" class="image_1" />
                        <p class="typography__body-2 text_4">
                            Remove the "demo-content" container, and add your own content.
                        </p>
                    </div>
                </IgbTabPanel>
                <IgbTab Disabled="true">
                    <span class="material-icons">
                        info
                    </span>
                    <span>News</span>
                </IgbTab>
            </IgbTabs>
        </div>
        <div class="column-layout group_14">
            <IgbTabs class="tabs" account_sample-scope>
                <IgbTabPanel class="column-layout tab-item-content_2" account_sample-scope>
                    <div class="column-layout group_15">
                        <div class="row-layout buttons">
                            <IgbButton Variant="ButtonVariant.Flat" DisplayType="ButtonBaseType.Button" class="button" account_sample-scope>
                                <span class="material-icons icon">
                                    calendar_today
                                </span>
                                <span>New Meeting</span>
                                <IgbRipple></IgbRipple>
                            </IgbButton>
                            <IgbButton Variant="ButtonVariant.Flat" DisplayType="ButtonBaseType.Button" class="button" account_sample-scope>
                                <span class="material-icons icon">
                                    assignment
                                </span>
                                <span>New task</span>
                                <IgbRipple></IgbRipple>
                            </IgbButton>
                            <IgbButton Variant="ButtonVariant.Flat" DisplayType="ButtonBaseType.Button" class="button" account_sample-scope>
                                <span class="material-icons icon">
                                    call
                                </span>
                                <span>Log a call</span>
                                <IgbRipple></IgbRipple>
                            </IgbButton>
                        </div>
                        <IgbAccordion SingleExpand="true" class="accordion" account_sample-scope>
                            <IgbExpansionPanel IndicatorPosition="ExpansionPanelIndicatorPosition.End">
                                <IgbList class="list" account_sample-scope>
                                    <IgbListItem>
                                        <IgbAvatar Src="assets/Calendar-Avatar-Icon.svg" slot="start" class="avatar_1 avatar_1_3" account_sample-scope></IgbAvatar>
                                        <div>
                                            <div class="column-layout group_16">
                                                <div class="row-layout group_17">
                                                    <p class="typography__subtitle-2 text_5">
                                                        Project Intro
                                                    </p>
                                                </div>
                                                <div class="row-layout group_18">
                                                    <p class="typography__caption text_3">
                                                        11/1/2022
                                                    </p>
                                                    <p class="typography__caption text_3">
                                                        -
                                                    </p>
                                                    <p class="typography__caption text_3">
                                                        10am
                                                    </p>
                                                </div>
                                                <IgbChip class="chip" account_sample-scope>
                                                    Zoom Meeting
                                                </IgbChip>
                                            </div>
                                        </div>
                                    </IgbListItem>
                                    <IgbListItem>
                                        <IgbAvatar Src="assets/Calendar-Avatar-Icon.svg" slot="start" class="avatar_1 avatar_1_4" account_sample-scope></IgbAvatar>
                                        <div>
                                            <div class="column-layout group_16">
                                                <div class="row-layout group_17">
                                                    <p class="typography__subtitle-2 text_5">
                                                        Sync Meeting
                                                    </p>
                                                </div>
                                                <div class="row-layout group_18">
                                                    <p class="typography__caption text_3">
                                                        11/7/2022
                                                    </p>
                                                    <p class="typography__caption text_3">
                                                        -
                                                    </p>
                                                    <p class="typography__caption text_3">
                                                        2pm
                                                    </p>
                                                </div>
                                                <IgbChip class="chip" account_sample-scope>
                                                    On Site Meeting
                                                </IgbChip>
                                            </div>
                                        </div>
                                    </IgbListItem>
                                    <IgbListItem>
                                        <IgbAvatar Src="assets/Calendar-Avatar-Icon.svg" slot="start" class="avatar_1 avatar_1_5" account_sample-scope></IgbAvatar>
                                        <div>
                                            <div class="column-layout group_16">
                                                <div class="row-layout group_17">
                                                    <p class="typography__subtitle-2 text_5">
                                                        Wrap Up Meeting
                                                    </p>
                                                </div>
                                                <div class="row-layout group_18">
                                                    <p class="typography__caption text_3">
                                                        11/14/2022
                                                    </p>
                                                    <p class="typography__caption text_3">
                                                        -
                                                    </p>
                                                    <p class="typography__caption text_3">
                                                        4pm
                                                    </p>
                                                </div>
                                                <IgbChip class="chip" account_sample-scope>
                                                    Phone call
                                                </IgbChip>
                                            </div>
                                        </div>
                                    </IgbListItem>
                                </IgbList>
                                <span slot="title">Upcoming Events (3)</span>
                            </IgbExpansionPanel>
                            <IgbExpansionPanel IndicatorPosition="ExpansionPanelIndicatorPosition.End">
                                <p class="typography__body-2 text_3">
                                    No tasks added.
                                </p>
                                <span slot="title">Tasks (0)</span>
                            </IgbExpansionPanel>
                            <IgbExpansionPanel IndicatorPosition="ExpansionPanelIndicatorPosition.End">
                                <p class="typography__body-2 text_3">
                                    No call logged.
                                </p>
                                <span slot="title">Call Logs (0)</span>
                            </IgbExpansionPanel>
                        </IgbAccordion>
                    </div>
                </IgbTabPanel>
                <IgbTab Selected="true">
                    <span class="material-icons">
                        info
                    </span>
                    <span>Activity</span>
                </IgbTab>
                <IgbTabPanel class="row-layout tab-item-content_3" account_sample-scope>
                    <div class="column-layout demo-content-1">
                        <img src="assets/start-building-dark.svg" class="image_1" />
                        <p class="typography__body-2 text_4">
                            Remove the "demo-content" container, and add your own content.
                        </p>
                    </div>
                </IgbTabPanel>
                <IgbTab Disabled="true">
                    <span class="material-icons">
                        info
                    </span>
                    <span>Conversations</span>
                </IgbTab>
            </IgbTabs>
        </div>
    </div>
</div>

@code {
}
